/* Home.css */
.home-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .notifications-container,
  .calendar-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .notifications-container {
    margin-right: 20px; /* Adjust space between notifications and calendar */
  }
  
  .calendar-container .react-calendar {
    border: none;
    max-width: 100%;
    background: transparent;
  }
  
  .react-calendar__navigation button {
    background-color: #f0f0f0;
    color: #333;
    min-width: 44px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    color: #666;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #e0e0e0;
  }
  
  .react-calendar__tile--active {
    background: #007bff;
    color: white;
  }
  